## Hospital Performance And Efficiancy Analysis
#### This project analyze hospital Performance using multiple healthcare dataset. The goal is to clean, prepare and analyze hospital data to understand the relationship between hospital ratings, medicare spending, and patient outcomes.

In [19]:
# Importing necessary libraries to load, process, analyze and visualize the dataset.
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Loading the Datasets 
#### The three datasets are loaded into Python to begin data cleaning and preparation for analysis.

In [20]:
# Loading hospital general information dataset
hospital_info = pd.read_csv("../data/Hospital_General_Information.csv")
hospital_info.head(5)

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,Acute Care Hospitals,Government - Hospital District or Authority,...,0,11,0,NaN,8,8,NaN,12,11,NaN
1,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,Acute Care Hospitals,Government - Hospital District or Authority,...,0,8,1,NaN,8,8,NaN,12,12,NaN
2,010006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 768-8400,Acute Care Hospitals,Proprietary,...,0,8,1,NaN,8,8,NaN,12,10,NaN
3,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,Acute Care Hospitals,Voluntary non-profit - Private,...,0,7,0,NaN,8,8,NaN,12,7,NaN
4,010008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,Acute Care Hospitals,Proprietary,...,0,2,0,NaN,8,Not Available,5.0,12,6,NaN

In [21]:
# Loading medicare hospital spending per patient dataset
medicare_data = pd.read_csv("../data/Medicare_Hospital_spending_Per_Patient-Hospital.csv")
medicare_data.head(5)

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,Measure ID,Measure Name,Score,Footnote,Start Date,End Date
0,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MSPB-1,Medicare hospital spending per patient (Medica...,1.03,NaN,01/01/2023,12/31/2023
1,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,MSPB-1,Medicare hospital spending per patient (Medica...,1.00,NaN,01/01/2023,12/31/2023
2,10006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 768-8400,MSPB-1,Medicare hospital spending per patient (Medica...,1.02,NaN,01/01/2023,12/31/2023
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,MSPB-1,Medicare hospital spending per patient (Medica...,1.02,NaN,01/01/2023,12/31/2023
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,MSPB-1,Medicare hospital spending per patient (Medica...,1.07,NaN,01/01/2023,12/31/2023

In [22]:
# Loading unplanned hospital visits
unplanned_visit_data= pd.read_csv("../data/Unplanned_Hospital_visits-Hospital.csv")
unplanned_visit_data.head(5)

C:\Users\archa\AppData\Local\Temp\ipykernel_30280\462846592.py:2: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  unplanned_visit_data= pd.read_csv("../data/Unplanned_Hospital_visits-Hospital.csv")

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,Measure ID,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Number of Patients,Number of Patients Returned,Footnote,Start Date,End Date
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,EDAC_30_AMI,Hospital return days for heart attack patients,Fewer Days Than Average per 100 Discharges,273,-15.6,-25.9,-4.2,264,68,NaN,7/1/2021,6/30/2024
1,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,EDAC_30_HF,Hospital return days for heart failure patients,Average Days per 100 Discharges,652,-1.1,-10,7.9,541,186,NaN,7/1/2021,6/30/2024
2,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,EDAC_30_PN,Hospital return days for pneumonia patients,More Days Than Average per 100 Discharges,507,17.4,8.2,27.5,471,114,NaN,7/1/2021,6/30/2024
3,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,Hybrid_HWR,Hybrid Hospital-Wide All-Cause Readmission Mea...,No Different Than the National Rate,2824,15.1,13.2,17.2,Not Applicable,Not Applicable,NaN,7/1/2023,6/30/2024
4,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,OP_32,Rate of unplanned hospital visits after colono...,No Different Than the National Rate,218,12.8,9.4,17.4,Not Applicable,Not Applicable,NaN,1/1/2021,12/31/2023

## Exploring the Hospital Info Dataset
The structure and contents of the dataset are examined to understand data types, check for missing values, and get the overview of the dataset.

In [23]:
# checking datatypes and missing values
hospital_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5421 entries, 0 to 5420
Data columns (total 38 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Facility ID                                       5421 non-null   object
 1   Facility Name                                     5421 non-null   object
 2   Address                                           5421 non-null   object
 3   City/Town                                         5421 non-null   object
 4   State                                             5421 non-null   object
 5   ZIP Code                                          5421 non-null   int64
 6   County/Parish                                     5421 non-null   object
 7   Telephone Number                                  5421 non-null   object
 8   Hospital Type                                     5421 non-null   object
 9   Hospital Ownership                                5421 non-null   object
 10  Emergency Services                                5421 non-null   object
 11  Meets criteria for birthing friendly designation  2264 non-null   object
 12  Hospital overall rating                           5421 non-null   object
 13  Hospital overall rating footnote                  2564 non-null   object
 14  MORT Group Measure Count                          5421 non-null   object
 15  Count of Facility MORT Measures                   5421 non-null   object
 16  Count of MORT Measures Better                     5421 non-null   object
 17  Count of MORT Measures No Different               5421 non-null   object
 18  Count of MORT Measures Worse                      5421 non-null   object
 19  MORT Group Footnote                               1778 non-null   float64
 20  Safety Group Measure Count                        5421 non-null   object
 21  Count of Facility Safety Measures                 5421 non-null   object
 22  Count of Safety Measures Better                   5421 non-null   object
 23  Count of Safety Measures No Different             5421 non-null   object
 24  Count of Safety Measures Worse                    5421 non-null   object
 25  Safety Group Footnote                             2071 non-null   float64
 26  READM Group Measure Count                         5421 non-null   object
 27  Count of Facility READM Measures                  5421 non-null   object
 28  Count of READM Measures Better                    5421 non-null   object
 29  Count of READM Measures No Different              5421 non-null   object
 30  Count of READM Measures Worse                     5421 non-null   object
 31  READM Group Footnote                              1150 non-null   float64
 32  Pt Exp Group Measure Count                        5421 non-null   object
 33  Count of Facility Pt Exp Measures                 5421 non-null   object
 34  Pt Exp Group Footnote                             2267 non-null   float64
 35  TE Group Measure Count                            5421 non-null   object
 36  Count of Facility TE Measures                     5421 non-null   object
 37  TE Group Footnote                                 928 non-null    float64
dtypes: float64(5), int64(1), object(32)
memory usage: 1.6+ MB

In [24]:
# checking number of rows and columns
hospital_info.shape

(5421, 38)

## Data Cleaning: Hospital Info Data
#### In this section, hospital general information dataset is cleaned to prepare it for analysis. the cleaning process includes reviewing columns names, removing unnecessary columns, renaming columns, checking for missing values. The goal is to create a clean dataset that can be easily used for analysis and combined with other datasets.

### step 1 : Inspecting Columns
### In this step, I reviewed all the columns names in the hospital dataset to understand what information is available. This helps identify which columns are useful for the analysis and which ones may not be needed.

In [25]:
# columns for hospital data
hospital_info.columns

Index(['Facility ID', 'Facility Name', 'Address', 'City/Town', 'State',
       'ZIP Code', 'County/Parish', 'Telephone Number', 'Hospital Type',
       'Hospital Ownership', 'Emergency Services',
       'Meets criteria for birthing friendly designation',
       'Hospital overall rating', 'Hospital overall rating footnote',
       'MORT Group Measure Count', 'Count of Facility MORT Measures',
       'Count of MORT Measures Better', 'Count of MORT Measures No Different',
       'Count of MORT Measures Worse', 'MORT Group Footnote',
       'Safety Group Measure Count', 'Count of Facility Safety Measures',
       'Count of Safety Measures Better',
       'Count of Safety Measures No Different',
       'Count of Safety Measures Worse', 'Safety Group Footnote',
       'READM Group Measure Count', 'Count of Facility READM Measures',
       'Count of READM Measures Better',
       'Count of READM Measures No Different', 'Count of READM Measures Worse',
       'READM Group Footnote', 'Pt Exp Group Measure Count',
       'Count of Facility Pt Exp Measures', 'Pt Exp Group Footnote',
       'TE Group Measure Count', 'Count of Facility TE Measures',
       'TE Group Footnote'],
      dtype='object')

### step 2 : Removing Unnecessary Columns
#### some columns in the hospital dataset are not needed for this project. Those columns are removed to make the dataset cleaner and easier to work during analysis.

In [26]:
# Removing the unnecessary columns from hospital data
hospital_info = hospital_info.drop(columns=['Address', 'City/Town',
       'ZIP Code', 'County/Parish', 'Telephone Number',
       'Meets criteria for birthing friendly designation',
        'Hospital overall rating footnote',
       'MORT Group Measure Count', 'Count of Facility MORT Measures',
       'Count of MORT Measures Better', 'Count of MORT Measures No Different',
       'Count of MORT Measures Worse', 'MORT Group Footnote',
       'Safety Group Measure Count', 'Count of Facility Safety Measures',
       'Count of Safety Measures Better',
       'Count of Safety Measures No Different',
       'Count of Safety Measures Worse', 'Safety Group Footnote',
       'READM Group Measure Count', 'Count of Facility READM Measures',
       'Count of READM Measures Better',
       'Count of READM Measures No Different', 'Count of READM Measures Worse',
       'READM Group Footnote', 'Pt Exp Group Measure Count',
       'Count of Facility Pt Exp Measures', 'Pt Exp Group Footnote',
       'TE Group Measure Count', 'Count of Facility TE Measures',
       'TE Group Footnote'], axis=1)
hospital_info.head(5)

,Facility ID,Facility Name,State,Hospital Type,Hospital Ownership,Emergency Services,Hospital overall rating
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,AL,Acute Care Hospitals,Government - Hospital District or Authority,Yes,4
1,010005,MARSHALL MEDICAL CENTERS,AL,Acute Care Hospitals,Government - Hospital District or Authority,Yes,3
2,010006,NORTH ALABAMA MEDICAL CENTER,AL,Acute Care Hospitals,Proprietary,Yes,2
3,010007,MIZELL MEMORIAL HOSPITAL,AL,Acute Care Hospitals,Voluntary non-profit - Private,Yes,1
4,010008,CRENSHAW COMMUNITY HOSPITAL,AL,Acute Care Hospitals,Proprietary,Yes,Not Available

### Data cleaning step 3 : Renaing Columns
#### In this step, A function was created to rename columns.
#### The original dataset contains spaces and special character, which can cause error during analysis. columns are renamed using snake_case formatting.

In [ ]:
# colunaming function
def rename_columns(df, new_names):
    return df.rename(columns=new_names)

In [28]:
hospital_info= rename_columns(hospital_info,{
    'Facility ID' : 'facility_id',
    'Facility Name' : 'facility_name',
    'State': 'state',
    'Hospital Type' : 'hospital_type',
    'Hospital Ownership' : 'hospital_ownership',
    'Emergency Services' : 'emergency_services',
    'Hospital overall rating' : 'hospital_overall_rating'
    
})

### Step 4: checking for missing values
#### The dataset is examined for missing(Null) values. Identifying missing data is important because it can affect analysis accuracy.

In [29]:
# checking null values
hospital_info.isnull().sum()

facility_id                0
facility_name              0
state                      0
hospital_type              0
hospital_ownership         0
emergency_services         0
hospital_overall_rating    0
dtype: int64

In [30]:
# Information about the dataset
hospital_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5421 entries, 0 to 5420
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   facility_id              5421 non-null   object
 1   facility_name            5421 non-null   object
 2   state                    5421 non-null   object
 3   hospital_type            5421 non-null   object
 4   hospital_ownership       5421 non-null   object
 5   emergency_services       5421 non-null   object
 6   hospital_overall_rating  5421 non-null   object
dtypes: object(7)
memory usage: 296.6+ KB

### Step 5: Checking for Duplicates
In this step, dataset is checked for duplicate rows. Duplicate rows can cause error and may lead to double counting hospital data. Duplicate rows will be identified and removed.

In [31]:
#check duplicates based on facility_id
duplicates_id = hospital_info.duplicated(subset=['facility_id']).sum()
duplicates_id

np.int64(0)

#### Each hospital is uniquely represented in the dataset.

In [32]:
# columns in medicare dataset
medicare_data.columns

Index(['Facility ID', 'Facility Name', 'Address', 'City/Town', 'State',
       'ZIP Code', 'County/Parish', 'Telephone Number', 'Measure ID',
       'Measure Name', 'Score', 'Footnote', 'Start Date', 'End Date'],
      dtype='object')

In [33]:
# Removing unnecessery columns from medicare data
medicare_data = medicare_data.drop(columns=['Address', 'City/Town', 
       'ZIP Code', 'Facility Name', 'State','County/Parish','Measure ID', 'Telephone Number', 'Footnote'])
medicare_data.head(5)

,Facility ID,Measure Name,Score,Start Date,End Date
0,10001,Medicare hospital spending per patient (Medica...,1.03,01/01/2023,12/31/2023
1,10005,Medicare hospital spending per patient (Medica...,1.00,01/01/2023,12/31/2023
2,10006,Medicare hospital spending per patient (Medica...,1.02,01/01/2023,12/31/2023
3,10007,Medicare hospital spending per patient (Medica...,1.02,01/01/2023,12/31/2023
4,10008,Medicare hospital spending per patient (Medica...,1.07,01/01/2023,12/31/2023

In [34]:
#columns in unplanned visit data
unplanned_visit_data.columns

Index(['Facility ID', 'Facility Name', 'Address', 'City/Town', 'State',
       'ZIP Code', 'County/Parish', 'Telephone Number', 'Measure ID',
       'Measure Name', 'Compared to National', 'Denominator', 'Score',
       'Lower Estimate', 'Higher Estimate', 'Number of Patients',
       'Number of Patients Returned', 'Footnote', 'Start Date', 'End Date'],
      dtype='object')

In [35]:
# removing unnecessery columns from unplanned visit data
unplanned_visit_data = unplanned_visit_data.drop(columns=['Address', 'City/Town',
       'ZIP Code', 'County/Parish', 'Telephone Number', 'Measure ID',
         'Denominator', 'Facility Name',	'State',
       'Lower Estimate', 'Higher Estimate', 
        'Footnote'])
unplanned_visit_data.head(5)

,Facility ID,Measure Name,Compared to National,Score,Number of Patients,Number of Patients Returned,Start Date,End Date
0,010001,Hospital return days for heart attack patients,Fewer Days Than Average per 100 Discharges,-15.6,264,68,7/1/2021,6/30/2024
1,010001,Hospital return days for heart failure patients,Average Days per 100 Discharges,-1.1,541,186,7/1/2021,6/30/2024
2,010001,Hospital return days for pneumonia patients,More Days Than Average per 100 Discharges,17.4,471,114,7/1/2021,6/30/2024
3,010001,Hybrid Hospital-Wide All-Cause Readmission Mea...,No Different Than the National Rate,15.1,Not Applicable,Not Applicable,7/1/2023,6/30/2024
4,010001,Rate of unplanned hospital visits after colono...,No Different Than the National Rate,12.8,Not Applicable,Not Applicable,1/1/2021,12/31/2023